.trashBoton svg {
  /* Ajusta los estilos según sea necesario */
  width: 30px;
  height: 30px;


}

.payBoton{
  color: white;
  text-decoration: none;
}

  
 /* CartView.css */
.cart-list {
  list-style-type: none;
  padding: 150px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item-image {
  padding: 30px;
  width: 20%; /* ajusta el tamaño según sea necesario */
  height: 100%;
  margin-right: 20px; /* espacio entre la imagen y los detalles del artículo */
}



.total-and-clear {
  display: flex;
  justify-content: space-between;
  width: 80%; /* Ajusta el ancho según sea necesario */
  margin: 20px auto; /* Centra horizontalmente y proporciona un margen */
}


